$githubBlue : #556F8A;

ul {
  list-style-type: none;
}

body {
  background-image: url(https://x265.github.io/ism/image/slides/Wallpaper_10.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

label {
  color:black;
  font-size: 30px;
}

#data-well {
  color:black;
  opacity: 0.5;
  margin:auto;
}

#title-well{
  width: 1140px;
  height: 196px;
  background-image: url(http://i63.tinypic.com/344fsz4.png);
  margin-top: 20px;
  opacity:0.5;
}

.well {
  background-color: $githubBlue;
}
