
ul {
  list-style-type: none;
}

body {
  // background-image: url(https://hd.unsplash.com/photo-1458053688450-eef5d21d43b3);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

label {
  color:white;
  font-size: 30px;
}

#data-well {
  color:$white;
}

#title-well {
  margin-top: 20px;
  text-align: center;
  h1 {
    font-size: 65px;
    text-shadow: 1px 1px white;
  }
  h3 {
    font-size: 30px;
  }
}
